[Unit]
Description=cbc attach
DefaultDependencies=no
ConditionPathExists=!/dev/cbc-early-signals

[Service]
ExecStart=/usr/bin/cbc_attach
Restart=no
Slice=earlyapp.slice
Type=simple

[Install]
WantedBy=basic.target
