[Unit]
Description=Inform earlyapp the resume event
After=suspend.target

[Service]
ExecStart=/usr/bin/bash -c '/usr/bin/echo 1 > /usr/share/earlyapp/resume_sync'

[Install]
WantedBy=suspend.target
