[Unit]
Description=Setup IPU device nodes for Early App Gordon Peak native.
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
Slice=earlyapp.slice

# Load IPU modules
ExecStart=/usr/bin/modprobe -a crlmodule intel-ipu4 intel-ipu4-mmu intel-ipu4-isys intel-ipu4-psys intel-ipu4-isys-csslib intel-ipu4-psys-csslib
