[Unit]
Description=earlyapp target for gstreamer
Wants=earlyapp_gpnative.service
After=earlyapp_gpnative.service

# Delay some heavier services to speed up earlyapp loading
Before=systemd-udevd.service systemd-udev-trigger.service systemd-modules-load.service

[Install]
WantedBy=basic.target
Also=earlyapp_resume.service
