[Unit]
Description=GP2.0 Early application
DefaultDependencies=no
Requires=ias-earlyapp.service cbc_attach.service earlyapp-setup_gst.service
After=ias-earlyapp.service cbc_attach.service earlyapp-setup_gst.service

[Service]
Environment=XDG_RUNTIME_DIR=/run/ias
Environment=WAYLAND_DISPLAY=wayland-0
Environment=GST_PLUGIN_PATH=/usr/lib/gstreamer-1.0
ExecStart=/usr/bin/earlyapp --rvc-sound /usr/share/earlyapp/beep.wav --use-gstreamer --bootup-sound /usr/share/earlyapp/jingle.wav --splash-video /usr/share/earlyapp/splash_video.mp4 --camera-input v4l2 --width 1920 --height 1080
Slice=earlyapp.slice
User=ias
SupplementaryGroups=video render

[Install]
Alias=earlyapp.service
