[Unit]
Description=Setup audio for Early App
DefaultDependencies=no
StartLimitBurst=16

[Service]
RemainAfterExit=yes
Slice=earlyapp.slice

# Load audio driver and set dsp switch
ExecStartPre=/usr/bin/sh -c 'if modprobe -n --first-time snd_soc_sst_bxt_tdf8532; then modprobe -v snd_soc_sst_bxt_tdf8532;fi'
ExecStart=amixer -c0 cset numid=19 on
Restart=on-failure
