[Unit]
Description=Early App service file for Gordon Peak native.
DefaultDependencies=no
Wants=earlyapp-setup_gpnative_audio.service
Requires=ias-earlyapp.service cbc_attach.service earlyapp-setup-cbc.service earlyapp-setup-render.service earlyapp-setup-aud.service earlyapp-setup_gpnative.service earlyapp-setup-resume.service
After=ias-earlyapp.service cbc_attach.service earlyapp-setup-cbc.service earlyapp-setup-render.service earlyapp-setup-aud.service earlyapp-setup_gpnative.service

[Service]
Environment=XDG_RUNTIME_DIR=/run/ias
Environment=WAYLAND_DISPLAY=wayland-0
Environment=GST_PLUGIN_PATH=/usr/lib64/gstreamer-1.0
ExecStart=/usr/bin/earlyapp --rvc-sound /usr/share/earlyapp/beep.wav --use-gstreamer --bootup-sound /usr/share/earlyapp/jingle.wav --splash-video /usr/share/earlyapp/splash_video.mp4 --width 1920 --height 1080 --gstcamcmd "icamerasrc device-name=mondello-3 input-height=480 input-width=720 input-format=UYVY deinterlace-method=3 interlace-mode=7 ! 'video/x-raw,format=NV12,height=1080,width=1920' ! vaapipostproc !  waylandsink"

Slice=earlyapp.slice
User=ias
SupplementaryGroups=video render

[Install]
Alias=earlyapp.service
