[Unit]
Requires=ias-earlyapp.service
After=ias-earlyapp.service
DefaultDependencies=no

[Service]
Environment=XDG_RUNTIME_DIR=/run/ias/
ExecStart=/usr/share/ias/examples/weston-es2gears -f
ExecStartPost=/usr/share/earlyapp/kpi_gpio.sh 442 0
Slice=earlyapp.slice

# In case weston is still starting up and socket is not available
ExecStartPre=/usr/bin/test -S $XDG_RUNTIME_DIR/wayland-0
ExecStartPre=/usr/share/earlyapp/kpi_gpio.sh 442 1
Restart=on-failure

[Install]
WantedBy=graphical.target
Also=es2gears_resume.service
