[Unit]
Description=GP2.0 Splash Screen
DefaultDependencies=no
Before=ias.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/share/earlyapp/fb_splash_gpio.sh 442 1
ExecStart=/usr/bin/dd if=/usr/share/earlyapp/clear_fb.fb of=/dev/fb0
ExecStartPost=/usr/share/earlyapp/fb_splash_gpio.sh 442 0
Restart=no
Slice=earlyapp.slice

[Install]
WantedBy=basic.target
