[Unit]
Description=ias weston compositor

DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

Requires=ias-earlyapp-setup.service ias-earlyapp-wait.service
After=ias-earlyapp-setup.service ias-earlyapp-wait.service

[Service]
Environment=XDG_CONFIG_HOME=/usr/share/xdg/weston XDG_RUNTIME_DIR=/run/ias
RuntimeDirectory=ias
RuntimeDirectoryMode=0750
User=ias
ExecStart=/usr/bin/ias-weston-launch -- -i 0
StandardInput=tty
StandardError=journal
StandardOutput=journal
TTYPath=/dev/tty2
SupplementaryGroups=input weston-launch
Slice=earlyapp.slice

[Install]
WantedBy=graphical.target
