[Unit]
Description=ias weston compositor

DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

# /dev/dri/card0 must belong to video group
Requires=ias-pre.service
After=ias-pre.service

[Service]
Environment=XDG_CONFIG_HOME=/usr/share/xdg/weston XDG_RUNTIME_DIR=/run/ias
RuntimeDirectory=ias
RuntimeDirectoryMode=0750
User=ias
ExecStart=/usr/bin/ias-weston-launch -- -i 0
StandardInput=tty
StandardError=journal
StandardOutput=journal
TTYPath=/dev/tty2
SupplementaryGroups=input weston-launch
Slice=earlyapp.slice

[Install]
WantedBy=graphical.target
Alias=ias
