[Unit]
Description=Memory hot add service
Before=acrnd.service acrn_guest.service

[Service]
Type=simple
ExecStart=/usr/bin/bash /usr/share/earlyapp/mem_hot_add.sh
Restart=no

[Install]
WantedBy=multi-user.target
